{{> flash_messages}}

<h2>Home Page</h2>

{{#if currentUser}}
  <h3>Welcome back, {{currentUser.fullName}}!</h3>
{{else}}
  <p>Why don't you make an account?</p>
  <a href="/signup">Sign Up Today</a>
{{/if}}
